.keyboard-racer {
    min-height: 300px;
    max-height: 500px;

    padding: 10px;

    width: 50%;
    height: auto;

    display: block;
    position: relative;
    overflow: hidden;

    &__container {
        position: relative;

        left: 0;
        top: 0;

        padding-top: 25px;

        width: 100%;
        height: 280px;
    }

    &__btn {
        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);
    }

    &__text-container {
        width: 70%;
        height: calc(100% - 50px);

        margin: 0 auto;

        position: relative;
    }
}

.keyboard-racer-timer {
    position: absolute;

    &_in-game {
        transform: translateX(-100%);
        top: 0%;
        left: 99%;
        white-space: nowrap;
    }

    &_before-game {
        transform: translate(-50%, -50%);
        left: 50%;
        top: calc(50% - 10px);
        font-size: 22px;
    }
}

.keyboard-racer-text {
    display: inline;

    position: absolute;

    left: 0;
    top: 0;

    word-break: break-all;

    &__pointer {
        background-color: transparent;
    }

    &_primary {

    }

    &_secondary {
        background-color: limegreen;
    }
}