.room-preview {
    &__body {
        margin-top: 20px;
    }

    &__footer {
        margin-top: 50px;
        margin-bottom: 15px;
    }
}

._room-preview-container {    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

.room-preview-body {
    max-width: 190px;
    width: 100%;
    padding: 0 15px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    text-align: center;
}

.room-preview-footer {
    width: 100%;
    text-align: center;
}

.room-preview-button {
    width: 35%;
}