.game-room {
    display: flex;

    &__keyboard-racer {
        margin-left: 45px;
    }
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__header {
        margin-bottom: 40px;
    }
}

.game-info-header {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 12px;
    }
}

.game-info-users {
    &__user {
        margin-bottom: 10px;
    }
}