.rooms {
    &__body {
        margin-top: 40px;
    }
}

.rooms-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin-bottom: 12px;
    }
}

.rooms-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    grid-gap: 25px;
}