.modal-wrapper {
    display: flex;

    justify-content: center;
    align-items: center;

    position: fixed;

    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    backdrop-filter: blur(3px);

    z-index: 999;

    &__winner-modal {
        position: relative;
    }
}

.winner-modal {
    max-width: 250px;
    width: 100%;

    padding: 3px 10px;

    &__close-btn {
        position: absolute;

        left: 97%;
        top: 0;

        transform: translate(-100%, -50%);
    }
}

.winner-modal-place {
    display: block;
}

.winner-modal-close-btn {
    cursor: pointer;
    font-size: 18px;
}